* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
}

.header {
  display: none;
}

.content {
  margin: 42px 22px 0 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content__main-item {
  margin-right: auto;
  font-size: 28px;
}
.content__main-item::before {
  content: "";
  position: absolute;
  background: #41f6d7;
  width: 4px;
  height: 40px;
  left: 0;
}
.content__item {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
}
.content__image {
  margin-right: 32px;
  margin-left: 8px;
}

.site-navigation {
  padding-left: 16px;
  margin: 24px 0;
}
.site-navigation__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #7e7e82;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  font-size: 16px;
}
.site-navigation__list::-webkit-scrollbar {
  height: 0px;
}
.site-navigation__item-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 5px;
  border: 3px solid transparent;
}
.site-navigation__item-link:focus {
  border-color: #b8ffec;
  border-radius: 9px;
  background-color: #fff;
}

.information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 24px 0 16px 0;
  font-size: 14px;
  padding-left: 16px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 48px;
  margin: 32px 25px 40px 24px;
}
.information__button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 16px 0;
}

.entry {
  margin-left: -16px;
  width: calc(100% + 16px);
}

.text {
  color: #7e7e82;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  font-size: 24px;
  font-weight: 300;
  border-top: 1px solid #d9fff5;
  padding: 16px 0 16px 32px;
  width: 100%;
}

.container {
  padding: 24px 32px 34px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 32px;
}
.menu__item {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 72px;
  text-decoration: none;
  border: 1px solid #eaeaea;
}
.menu:not(.expanded) .menu__item:nth-child(n+9) {
  display: none;
}

.button-expand {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.button-expand.expanded [role=show] {
  display: none;
}
.button-expand:not(.expanded) [role=hide] {
  display: none;
}
.button-expand:not(.expanded) .button-expand__icon {
  transform: rotate(180deg);
}

.swiper {
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #dddddd;
  --swiper-pagination-bullet-inactive-opacity: 1;
  padding: 0 16px !important;
}
.swiper-pagination {
  position: static !important;
}
.swiper-slide {
  width: 240px !important;
  height: 72px !important;
  display: flex !important;
  border-radius: 6px;
}

.swiper {
  display: none;
}